#content	#profile_container		%table#calendar
			%tr
				%td{:id => current_month?(1) }
					= link_to 'January', '1/invoices/list'
				%td{:id => current_month?(2) }
					= link_to 'February', '2/invoices/list'
				%td{:id => current_month?(3) }
					= link_to 'March', '3/invoices/list'
				%td{:id => current_month?(4) }
					= link_to 'April', '4/invoices/list'
				%td{:id => current_month?(5) }
					= link_to 'May', '5/invoices/list'
				%td{:id => current_month?(6) }
					= link_to 'June', '6/invoices/list'
			%tr
				%td{:id => current_month?(7) }
					= link_to 'July', '7/invoices/list'
				%td{:id => current_month?(8) }
					= link_to 'August', '8/invoices/list'
				%td{:id => current_month?(9) }
					= link_to 'October', '9/invoices/list'
				%td{:id => current_month?(10) }
					= link_to 'September', '10/invoices/list'
				%td{:id => current_month?(11) }
					= link_to 'November', '11/invoices'
				%td{:id => current_month?(12) }
					= link_to 'December', '12/invoices/list'

	#report
		=image_tag '/reports/bar'
